<div class="center jumbotron">
  <h1>Welcome to the Univ_Note</h1>

  <h2>This app is shearing notes each other.</h2>

  <%= link_to "Sign up now!",new_user_path , class:"btn btn-lg btn-primary" %>
</div>
